<html>
<head>
    <link rel="stylesheet" type="text/css" href="./stylesheets/handlebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        button {
            float: right !important;
            background-color: #ff407d !important;
            font-size: 18px !important;
            margin-left: 100% !important;
            position: absolute !important;
            right: 3% !important;
            bottom: 3%;
            border-radius: 5px 20px 5px !important;
            font-family: 'Andale Mono', sans-serif;
        }
        h4 {
            position: absolute !important;
            top: 0 !important;
            right: 45% !important;
        }
        .datepicker {
            float: none !important;
            background-color: cadetblue !important;
            font-size: 18px !important;
            margin-left: 0 !important;
            position: inherit !important;
            right: 0 !important;
            bottom: 0;
            border-radius: 0 !important;
            font-family: 'Andale Mono', sans-serif;
        }
        .question-dev {
            padding-top: 30%;
            margin-left: 30%;
            width: 500px;
        }
        .question-text {
            font-family: 'Open Sans', sans-serif;
            color: #ff407d;
            font-size: 16px;
        }
        .food-pic{
            width: 200px;
            height: 200px;
            border: 1px solid grey;
        }
        .top-text {
            color:#ff407d;
            font-family: 'Andale Mono', sans-serif;
        }
    </style>
</head>

<body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/JavaScript" src="/javascripts/script.js"></script>
<script>
     function readCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    $(document).ready(function(){
        if (readCookie('quizcomplete')) {
            $('.submit').hide();
        } else {
            $('.submit').show();
        }
    });
</script>
<a href="/" class="brand-logo"><img class="logo" src="/images/logo3.png" alt="logo" width="200px" height="50px"></a>
<i class="far fa-times-circle fa-2x" style="float: right"></i>
<div class="container">
    <div class="form-div">
        <form class=" form-control update-form">
            {{{body}}}
            <button class="btn btn-large waves-effect waves-light submit" type="submit" id="submit" name="action">Next
                <i class="fas fa-chevron-right"></i>
            </button>

        </form>
    </div>
    <div class="rec-data">
    {{!-- this is where the recommendations will go  --}}
    </div>
</div>
</body>
</html>
