<h4 style="margin-left: 150%; margin-bottom: 20%"> {{count}}/10</h4>
<div class="form-group" style="margin-left: 130%; width: 100%">

    <div class="input-field">
        <p class="p2">How many times you poop a week?</p>
        <input placeholder="times/week" id="poop_week" name="poop_week" type="text" class="validate">
    </div>
</div>
