<h4 style="margin-left: 150%; margin-bottom: 20%"> {{count}}/10</h4>
<div class="form-group" style="margin-left: 130%; width: 100%">

    <div class="input-field">
        <div class="row gender-container">
            <div class="col s6">
                <div class="row">
                    <div class="col s12">
                        <img class="gender" id="female" name='female' src="images/female.png">
                    </div>
                    <div class="col s12">
                        <p class="p f">FEMALE</p>
                    </div>
                </div>
            </div>
            <div class="col s6">
                <div class="row">
                    <div class="col s12">
                        <img class="gender" id="male" name='male' src="images/male.png">
                    </div>
                    <div class="col s12">
                        <p class="p m">MALE</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

