<h4 style="margin-left: 150%; margin-bottom: 20%"> {{count}}/10</h4>
<div class="form-group" style="margin-left: 130%; width: 100%">

    <div class="input-field">
        <p class="p2">How many hours you work per week?</p>
        <input placeholder="hrs/week" id="hrs_work" name="hrs_work" type="text" class="validate">
    </div>
</div>
