
<div class="question-dev">
    <div class="question-id"><span id="question-num">{{id}}</span> / 16</div>
    <br/>
    <label class="question-text">{{text}}</label>
    <input data-id="{{id}}" type="text" class="answer-input">
</div>
