/* Nav bar*/

nav ul a,
nav .brand-logo {
  color: #26e644;
}

.sidenav-trigger {
    color: #26a69a;
  }

/* Main Display */

.lhalf2{
  color: #2be644;
  font-weight: bolder;
}
.btn{
  background-color: #ff407d;
}
.container-fluid{
  background-image: url("../images/bachground-810.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 580px;
  padding: 2rem;
  padding-top: 15rem;
  
  
}

/* Why Us */

.container-fluid-2{
  width: 100%;
  height: 580px;
  margin-top: 5rem;
  padding: 2rem;
  color: black;
}
.why{
  color: #2be644;
  text-align: center;
}
.us{
  color : black;
  text-align: left;
  margin-top: 10%;
}

.circle {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  line-height: 100px;
  text-align: center;
  background-color: #26e644;
  margin-left: 30%;
}
.circle2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  font-size: 30px;
  color: white;
  line-height: 100px;
  text-align: center;
  background-color: black;
  margin-left: 30%;
}

.vl{
  border-left: 6px solid black;
  height: 100px;
  margin-left: 41%;
}

/* our team */
.container-fluid-3{
  height: 580px;
  background-color: #ff407d;
}
.team{
  color: white;
  text-align: center;
  font-weight: bolder;
}
.image{
  border-radius: 50%;
}
.col.s3{
  text-align: center;
}
.name{
  color: white;
}
.detail{
  color: white;
}

.parallax-container{
  height: 580px;;
}
.parallax {
  background-image: url("../images/image.png");
  background-size: cover;
  background-attachment: fixed;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.container-fluid-4{
  text-align: center;
  height: 580px;
}



@media only screen and (max-width : 992px) {
  .container-fluid {
    padding-top: 3rem;
  }
}

@media only screen and (max-width : 600px) {
  .container-fluid {
    padding-top: 2rem;
  }
}
i {
  float: right;
}